# node modules
/frontend/node_modules
/backend/node_modules
# builds
/frontend/build
/frontend/dist
/backend/dist
/dist-ssr
# env files
/frontend/.env
/backend/.env
/*/.env
/frontend/production.env
/backend/production.env
# other common ignores
.DS_Store
.vscode
.idea
npm-debug.log